<h1>Bonjour, veuillez confirmer votre compte chez Baya Musicothérapie !</h1>

<p>
    Confirmer votre inscription en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon compte</a>.
    Le lien expirera dans une heure !
</p>
<p>
    Nous avons hâte de vous voir sur notre site !
</p>