{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <!-- Load geocoding plugin -->
    <link rel="stylesheet" href="https://maps.locationiq.com/v2/libs/leaflet-geocoder/1.9.6/leaflet-geocoder-locationiq.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"/>

    <style type="text/css">
        #map{
            width: 0;
            height: 0;
            background-color:transparent;
            display: none;
        }
        #result {
            padding-left: 20px;
            padding-top: 20px;
            width: 800px;
            height: 100px;
        }
        .leaflet-locationiq-results{
            top: 45px!important;
            max-height: 200px;
            width: auto;
        }
        .leaflet-locationiq-expanded{
             width: 100%;
             margin-top: 5px;
         }

    </style>
{% endblock %}
{% block body %}
    <section class="home">
        <div id="booking" class="section">
            <div class="section-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="booking-form">
                            {% include 'includes/_search.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Invisible map -->
    <div id="map"></div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://maps.locationiq.com/v2/libs/leaflet-geocoder/1.9.6/leaflet-geocoder-locationiq.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>

    <script src="{{ asset('js/homeGeocoder.js') }}"></script>
    <script>
        const picker = new Litepicker({
            element: document.getElementById('search_beginsAt'),
            elementEnd: document.getElementById('search_endsAt'),
            singleMode: false,
            numberOfMonths: 2,
            numberOfColumns:2,
            minDays: 2,
            lang: "fr-FR",
            minDate: new Date(),
            resetButton: true,
        });
    </script>

{% endblock %}