html, body {
    padding: 0;
    margin: 0;
    background: rgb(246, 246, 246);
}

.top {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.top .top-bg {
    width: 100%;
    height: 400px;
}

.data-container {
    width: 600px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0
}

.bottom {
    padding-top: 30px;
    padding-left: 10%;
    height: 800px;
    position: relative;
}

.left {
    margin: 0 50px;
    float: left;
    width: 300px;
    height: auto;
    border-radius: 40px;
    border: 1px solid rgb(216, 216, 216);
    text-align: center;
    padding: 40px 20px;
}

.left-img-container {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    overflow: hidden;
}

.left .left-item {
    margin-top: 35px;
    text-align: left;
    font-size: 18px;
}

.left .left-line {
    margin-top: 35px;
    width: 300px;
    margin-left: -20px;
    height: 1px;
    background: rgb(216, 216, 216);
}

.right {
    overflow: hidden;
}

.right-item {
    margin-top: 40px;
    margin-left: 60px;
    font-size: 20px;
    overflow: hidden;
}

.right-item .item-top {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-container {
    width: 50%;
    margin-top: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.left-img {
    width: 180px;
    height: 180px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.left .isActive {
    color: #0abfec;
    text-decoration: underline;
}

.left a {
    color: black;
}

.vich-image img {
    width: 150px;
    height: 150px;
}

.right-item .line-throw {
    float: left;
    margin-right: 40px;
}

.card-custom {
    overflow: hidden;
    min-height: 450px;
    border: 0;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    border-radius: 15px;
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

.credit {
    position: absolute;
    bottom: 55px;
    font-size: 18px
}

#btn_new {
    float: right;
    margin-right: 70px;
    font-size: 35px;
    color: #2588be
}

#scroll {
    overflow-y: scroll;
    padding-right: 35px;
    height: 500px;
    margin-right: 200px;
}

.btn-update {
    float: right;
    margin: 100px 200px;
}

.btn-profil{
    box-shadow: 8px 8px 12px #aaa;
}

