<div class="left">
    <div class="left-img-container">
        <img src="./img/head.jpg" class="left-img">
        <div style="float: left;margin-left:100px;">
            <img src="./img/logo.png" style="height: 25px;width: 25px">
        </div>
    </div>
    <div class="left-item" style="text-align: center;margin-top: 20px;text-decoration: underline">
        {{ user.firstName }}
    </div>
    <div class="left-item" style="font-weight: bold;text-decoration: underline;margin-top: 60px">
        Infos personnelles
    </div>
    <div class="left-item">
        Connexion et sécurité
    </div>
    <div class="left-item">
        Paiements et versements
    </div>
    <div class="left-item">
        Notifications
    </div>
    <div class="left-line">
    </div>
    <div class="left-item" style="font-weight: bold">
        Messages
    </div>
    {% if not is_granted('ROLE_ADMIN') %}
    <div class="left-item" style="font-weight: bold">
            <a>Mes réservations</a>
    </div>
    <div class="left-item" style="font-weight: bold">
        Wishlist
    </div>
    {% endif %}
</div>