<div class="left">
    <div class="left-img-container">
        <a href="{{ path('user_info')}}"><img src="{{ user.headimg }}" class="left-img"></a>
        <div style="float: left;margin-left:100px;">
            <img src="./img/logo.png" style="height: 25px;width: 25px">
        </div>
    </div>
    <div class="left-item" style="text-align: center;margin-top: 20px;text-decoration: underline">
        mettre à jour la photo
    </div>
    <div class="left-item" style="font-weight: bold;text-decoration: underline;margin-top: 60px">
        Infos personnells
    </div>
    <div class="left-item">
        Connexion et sécurité
    </div>
    <div class="left-item">
        Palements et versements
    </div>
    <div class="left-item">
        Notifications
    </div>
    <div class="left-line">
    </div>
    <div class="left-item" style="font-weight: bold">
        Messages
    </div>
    <div class="left-item" style="font-weight: bold">
        Voyages
    </div>
    <div class="left-item" style="font-weight: bold">
        Enregistrés
    </div>
</div>