<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RESA |{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/logo.png">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>



        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include 'includes/navbar.html.twig' %}
        {% block body %}{% endblock %}


        {% block javascripts %}{% endblock %}
    </body>
</html>
