{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mes réservations{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/bookingCard.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}
    <div id="app">
        {% include 'includes/_userTop.html.twig' %}
        <div class="bottom">
            {% include 'includes/_leftPart.html.twig' %}
            <div class="right">
                <h2>{{ is_granted('ROLE_HOST') ? "Les réservations de vos annonces" : "Vos réservations" }}</h2>
                <div class="right-container">

                    {% if bookings is empty %}
                        <div class="mt-4">Aucune réservation pour le moment</div>
                    {% else %}

                        <div class="card-deck">
                            {% for booking in bookings %}
                                {% include 'includes/_bookingCard.html.twig' %}
                            {% endfor %}
                        </div>
                    {% endif %}


                </div>
                <div class="credit">
                    @ 2021 RESA,Inc.All rights reserved
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}


