{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mes réservations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/lodging.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}
    <div id="app">
        {% include 'includes/_userTop.html.twig' %}
        <div class="bottom">
            {% include 'includes/_leftPart.html.twig' %}
            <div class="right">
                <h2 id="titre">Vos annonces</h2>
                <a href="{{ path('lodging_new') }}">
                    <i class="fa fa-plus mt-3" id="btn_new"></i>
                </a>
                <div class="right-container">

                    {% if lodgings is empty %}
                        <div class="mt-4">Vous n'avez pas encore défini d'annonce, mais il n'est pas trop tard ! Cliquez
                            sur le bouton juste à droite :
                        </div>
                    {% endif %}


                    <div id="scroll">
                        {% for lodging in lodgings %}
                            <div class="right-item">
                                {% include 'includes/_lodgingCard.html.twig' %}
                            </div>
                        {% endfor %}
                    </div>


                </div>
                <div class="credit">
                    @ 2021 RESA,Inc.All rights reserved
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}


